<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start" color="light">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Mechanic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item *ngFor="let item of requests">
        <ion-icon aria-hidden="true" name="list" slot="start"></ion-icon>
        <ion-label>

        <ion-label>{{ item.name }}</ion-label>
        <ion-note color="medium">{{ item.phone }}</ion-note>
        <br>
        <ion-note color="medium">{{ address }}</ion-note>
        <br>
        <ion-icon *ngFor="let i of ratingArr; let index = index"
              [name]="index < rating ? 'star' : 'star-outline'">
    </ion-icon>
      </ion-label>

      <div *ngIf="item.status === 'Pending'; else elseBlock">
      <ion-button (click)="modal(item)" color="success">
        <ion-icon  slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="status_update('Rejected', item)" color="danger">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
    <ng-template #elseBlock>
      <ion-chip [color]="(requests.status === 'Accepted') ? 'primary' : (requests.status === 'Rejected') ? 'danger' :  'success'">{{ item.status }}</ion-chip>
    </ng-template>

    <ion-button [href]="'tel:' + item.phone" color="primary">
      <ion-icon slot="icon-only" name="call"></ion-icon>
    </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
