<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start" color="light">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Driver</ion-title>
    <ion-buttons slot="end" color="light">
      <!-- <ion-button (click)="addMechanic()">Add</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item *ngIf="requests">
        <ion-icon aria-hidden="true" name="list" slot="start"></ion-icon>
        <ion-label>

        <ion-label>{{ requests.name }}</ion-label>
        <!-- <ion-note color="medium">Nairobi CBD</ion-note> -->
      </ion-label>
      <ion-chip [color]="(requests.status === 'Accepted') ? 'primary' : (requests.status === 'Rejected') ? 'danger' :  'success'">{{ requests.status }}</ion-chip>

      <ion-button *ngIf="requests.status === 'Accepted'" (click)="modal(requests)">
        <ion-icon  slot="start" name="checkmark-circle"></ion-icon>
        Complete
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>
