<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start" color="light">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Driver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item>
        <ion-icon aria-hidden="true" name="list" slot="start"></ion-icon>
        <ion-label>

        <ion-label>New Task</ion-label>
        <ion-note color="medium">Nairobi CBD</ion-note>
      </ion-label>
      <ion-chip color="danger">Pending</ion-chip>

      <ion-button>
        <ion-icon  slot="start" name="checkmark-circle"></ion-icon>
        Accept
      </ion-button>
    </ion-item>
    <hr>
    <ion-item>
        <ion-icon aria-hidden="true" name="list" slot="start"></ion-icon>
        <ion-label>

        <ion-label>New Task</ion-label>
        <ion-note color="medium">Nairobi CBD</ion-note>
      </ion-label>
      <ion-chip color="success">Complete</ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
