<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Request a mechanic</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon aria-hidden="true" name="list" slot="start"></ion-icon>
      <ion-label>

        <ion-label>{{ data.title }}</ion-label>
        <ion-note color="medium">{{ data.address }}</ion-note>
        <!-- <ion-note color="medium">{{ data.email }}</ion-note> -->
      </ion-label>
      <ion-chip>{{ data.phone }}</ion-chip>

      <ion-button (click)="requestMechanic()">
        <ion-icon slot="start" name="checkmark-circle"></ion-icon>
        Request M
      </ion-button>
    </ion-item>

  </ion-list>
</ion-content>
