<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf="request">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input [(ngModel)]="request.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Request</ion-label>
      <ion-textarea [(ngModel)]="request.text" rows="8"></ion-textarea>
    </ion-item>
  </div>

  <ion-button expand="block" color="success" (click)="updateRequest()">
    <ion-icon name="save" slot="start"></ion-icon>
    Update
  </ion-button>
  <ion-button expand="block" color="danger" (click)="deleteRequest()">
    <ion-icon name="trash" slot="start"></ion-icon>
    Delete
  </ion-button> -->

</ion-content>
