

<ion-content>
      <ion-card style="box-shadow: none">
        <ion-card-header>
          <img src="https://images-infra.s3.us-east-2.amazonaws.com/WhatsApp+Image+2020-03-13+at+2.33.47+PM.jpeg" alt="">
          <ion-card-subtitle>Mechanic</ion-card-subtitle>
          <ion-card-title>Lets do this</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-button (click)="login()" slot="start">
            <ion-icon name="log-in"></ion-icon>
            Sign in</ion-button>

          <ion-button (click)="register()">
            <ion-icon name="log-out"></ion-icon>
            Register</ion-button>
        </ion-card-content>
      </ion-card>
</ion-content>
