<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Map Navigation</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modal()">
        <ion-icon name="compass-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" #mapElement></div>

  <ion-button id="icon" color="primary">
    <ion-icon name="information-circle"></ion-icon>
  </ion-button>

</ion-content>
