
ion-title img {
  width: 40%;
}

ion-card-header {
  text-align: center;
}

ion-card-content ion-card {
  border-radius: 10px;
}

.error-message {
  color: red;
}
.logo {
    width: 300px;
    margin: auto;
}
